.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100% !important;
    height: 65vh !important;
    object-fit: fill;
  }
  .swiper-pagination-bullet-active{
    background-color: #0b3d2e !important;
    border: 1px solid #fff !important;
  }
  