body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px !important;
  font-weight: bold !important;
  font-family: 'Amiri', serif !important;
  color: #000 !important;
  line-height: 2 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-button{
  background-color: #212529 !important;
  color: #fff !important;
  border-color: #212529 !important;
}
.custom-button:hover{
  background-color: #fff !important;
  color: #212529 !important;
  border-color: #212529 !important;
}

.custom-card:hover{
  color: #00583e !important;
  border-color: #00583e !important;
  cursor: pointer;
  box-shadow: 0 2px 0 0  #00583e !important;
  transform: translateY(-5px);
  transition: all .5s ease-in-out;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #0b3d2e ;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #041f17;
}

a:focus , button:focus , a:focus-visible , button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}